<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrimeraEntregaGreenGarden"
        tools:targetApi="31">
        <activity
            android:name=".PantallaEstadisticas"
            android:exported="false" />
        <activity
            android:name=".PantallaConsejoAbono"
            android:exported="false" />
        <activity
            android:name=".PantallaConsejoEnergia"
            android:exported="false" />
        <activity
            android:name=".PantallaConsejoRiego"
            android:exported="false" />
        <activity
            android:name=".PantallaConsejos"
            android:exported="false" />
        <activity
            android:name=".PantallaRegistroAgua"
            android:exported="false" />
        <activity
            android:name=".PantallaRegistroAbono"
            android:exported="false" />
        <activity
            android:name=".PantallaCategorias"
            android:exported="false" />
        <activity
            android:name=".PantallaInicioSesion"
            android:exported="false" />
        <activity
            android:name=".PantallaPerfil"
            android:exported="false" />
        <activity
            android:name=".PantallaRegistrarUsuario"
            android:exported="false" />
        <activity
            android:name=".Principal"
            android:exported="false" />
        <activity
            android:name=".Usuario"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>